<div id="header">
    <div class="wrap">
        <div id="title-area">
            
<h1 id="title"><a href='//my.luysec.com/' title="luySec Miscellaneous">luySec Miscellaneous</a></h1>

            <p id="description">luySec Nothing short of your Miscellaneous</p>
        </div>
        <!-- end #title-area -->
        <div class="widget-area">
            <div id="text-3" class="widget widget_text">
				{% include ad1.html %}
            </div>
        </div>
        <!-- end .widget-area -->
    </div>
    <!-- end .wrap -->
</div>
<!--end #header-->